/* Estilos Generales */
body {
    font-family: sans-serif; /* Fuente legible */
    margin: 0; /* Sin márgenes por defecto */
    padding: 20px; /* Espacio alrededor del contenido */
    background-color: #f0f0f0; /* Color de fondo suave */
}

header {
    text-align: center;
    margin-bottom: 30px;
    color: #3498db; /* Azul para los títulos, como en las imágenes */
}

h1 {
    font-size: 3em; /* Título grande */
    font-weight: bold;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
     color: #3498db;
}

/* Botón Agregar */
#btn-agregar {
    background-color: #2ecc71; /* Verde, como en las imágenes */
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 20px;
}
#btn-agregar:hover{
    background-color: #24b35f;
}

/* Lista de Pacientes */
#lista-pacientes {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#pacientes {
    list-style: none; /* Sin viñetas */
    padding: 0;
}

#pacientes li {
    border-bottom: 1px solid #eee; /* Línea divisoria */
    padding: 10px 0;
    display: flex;        /*Usamos Flexbox*/
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente */

}

/* Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Se queda fijo aunque hagas scroll */
    z-index: 1; /* Encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Scroll si el contenido es muy largo */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo */
    border-radius: 8px;
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black;
    text-decoration: none;
}

/* Formulario dentro del modal*/

form label {
    display: block; /* Etiquetas en una línea separada */
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form input[type="time"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    background-color: #2ecc71;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
form button[type="submit"]:hover{
    background-color: #24b35f;
}
.paciente-info{
    display: flex;
    flex-direction: column;
}
.paciente-fecha{
    font-size: 0.8em;
    color: #777;
}
